.big-title{
	font-family: "Times New Roman", Times, serif;
	font-size:200%;
}

.guidence{
        font-size: 40px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}
